*{
    padding: 0;
    margin: 0;
    font-size: 16;
    font-weight: normal;
}

header{
    background: rgba(255, 113, 67, 0.27);
    padding: 38px 0 48px;
}

.container{
    max-width: 1070px;
    margin: 0 auto;
}

.header_flex, 
.footer_flex, 
.about, 
.subscribe,
.plan_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_li{
    display: inline-block;
}

.nav_li:not(:first-of-type){
    margin-left: 49px;
}

.nav_link{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.468947px;
    text-decoration: none;
    color: #696871;
}

.nav_link:hover{
    color: black;
    transition: 300ms;
}

button{
    width: 212px;
    height: 60px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 17px;
    font-family: 'DM Sans';
    letter-spacing: -0.531474px;
    color: #FFFFFF;
    cursor: pointer; 
}

.button_or{
    background: #FF7143;
}

.button_or:hover{
    background: #d86a45;
    transition: 500ms;
}

.about{
    margin: 104px auto 85px;
}

.about_title{
    max-width: 467px;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 80px;
    line-height: 77px;
    letter-spacing: -2.50105px;
    color: #19191B;
    margin-bottom: 30px;
}

.about_txt{
    max-width: 410px;
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
    margin-bottom: 50px;
}

.button_vio{
    background: #5454D4;
}

.button_trans{
    background: #FFFFFF;
    color: #5454D4;
    border: 1px solid #5454D4;
    border-radius: 10px;
    margin-left: 35px;
}

.subscribe{
    margin-bottom: 85px;
}

.h2_subscribe{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: -1.56316px;
    color: #19191B;
    margin-bottom: 38px;
}

.plan{
    margin-bottom: 132px;
}

.plan_title{
    max-width: 504px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.87579px;
    color: #19191B;
    margin-bottom: 110px;
}

.item{
    width: 330px;
    background: #F8F8F8;
    border-radius: 10px;
    text-align: center;
    padding: 34px 0 27px;
}

.item:hover{
    transition: 500ms;   
    background: #FF7143;
    box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
}

.item_txt{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.562737px;
    color: #696871;
}

.item:hover .item_txt, 
.item:hover .item_title,
.item:hover .item_li{
    color: #FFFFFF;
    transition: 500ms;
}

.item_title{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 56px;
    letter-spacing: -1.03448px;
    color: #1D293F;
    margin: 22px 0 28px;
}

.item_title span{
    font-size: 28px;
}

.item_li{
    list-style: none;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 50px;
    letter-spacing: -0.531474px;
    color: #696871;
}

.item_button{
    width: 285px;
    background: white;
    color: #5454D4;
    margin-top: 36px;
}

.item:hover .item_button{
    background: #9F3919;
    color: #FFFFFF;
    transition: 500ms;
}


footer{
    background: rgba(255, 113, 67, 0.27);
    padding: 53px 0px;
}

.input{
    width: 302px;
    height: 60px;
    border: 1px solid #7087FF;
    border-radius: 10px;
    padding-left: 14px;
    box-sizing: border-box;
    margin-right: 39px;
    
}

input::placeholder, .input{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #000000;
}

.input:focus{
    outline: none;
}